
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueryTest</title>
</head>
<body>
    <h3>@ViewBag.Name</h3>

    <p>To change the name use a query string param: querytest?name=Duderino</p>
</body>
</html>
