
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MethodTwo</title>
</head>
<body>

    <h3>METHODTWO</h3>


    <p>@TempData["Message"]</p>

</body>
</html>
